.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid $twitter-background;
  padding-bottom: 10px;

  &__body {
    flex: 1;
    padding: 10px;

    > img {
      border-radius: 20px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
  }

  &__headerText > h3 {
    font-size: 15px;
    margin-bottom: 5px;
  }

  &__badge {
    font-size: 14px !important;
    color: $tweet-color;
  }

  &__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
  }

  &__avatar {
    padding: 20px;
  }
}
