.widgets {
  flex: 0.3 !important;

  &__input {
    display: flex;
    align-items: center;
    background-color: $twitter-background;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
  }

  &__input > input {
    border: none;
    background-color: $twitter-background;
  }

  &__searchIcon {
    color: gray;
  }

  &__widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
  }

  &__widgetContainer > h2 {
    font-size: 18px;
    font-weight: 800;
  }
}
